code/build/*
code/bin/coff2noff
code/bin/*.o
code/bin/.*.d
code/bin/.sources-checked
code/.clangd
code/Makefile
code/sources.md5sum
.DS_Store
code/userprog/.my_stdlib.d
code/userprog/my_stdlib.o
code/.clang-tidy
code/.gdb_history
