code/build/*
code/bin/coff2noff
code/bin/*.o
code/bin/.*.d
code/bin/.sources-checked
code/.clangd
code/Makefile
code/sources.md5sum
.DS_Store
code/libs/*/*.d
code/libs/*/*.o
code/.clang-tidy
code/.gdb_history
*/.idea
code/.clangd
