CompileFlags: # Tweak the parse settings, example directory given to show format
  Add:
    # - "-I=[folder]"         # old answer
    - "-I/home/p/pratst/actu/nachos/code"
    - "-I/home/p/pratst/actu/nachos/code/stdlib"
    - "-I/home/p/pratst/actu/nachos/code/bin"
    - "-I/home/p/pratst/actu/nachos/code/filesys"
    - "-I/home/p/pratst/actu/nachos/code/machine"
    - "-I/home/p/pratst/actu/nachos/code/network"
    - "-I/home/p/pratst/actu/nachos/code/test"
    - "-I/home/p/pratst/actu/nachos/code/threads"
    - "-I/home/p/pratst/actu/nachos/code/userprog"
    - "-I/home/p/pratst/actu/nachos/code/vm"
    - "-DUSER_PROGRAM"
    - "-DIN_USER_MODE"
