CompileFlags: # Tweak the parse settings, example directory given to show format
  Add:
    # - "-I=[folder]"         # old answer
    - "-I/home/toto/Documents/Master_1/team-a/code"
    - "-I/home/toto/Documents/Master_1/team-a/code/stdlib"
    - "-I/home/toto/Documents/Master_1/team-a/code/bin"
    - "-I/home/toto/Documents/Master_1/team-a/code/filesys"
    - "-I/home/toto/Documents/Master_1/team-a/code/machine"
    - "-I/home/toto/Documents/Master_1/team-a/code/network"
    - "-I/home/toto/Documents/Master_1/team-a/code/test"
    - "-I/home/toto/Documents/Master_1/team-a/code/threads"
    - "-I/home/toto/Documents/Master_1/team-a/code/userprog"
    - "-I/home/toto/Documents/Master_1/team-a/code/vm"
    - "-DUSER_PROGRAM"
    - "-DIN_USER_MODE"
